p {
  font-family: roboto;
  margin-top: 0;
}
.video-title {
font: 18px;
font-weight: bold;
width: 300px;
line-height: 24px;
margin-bottom: 20px;
}
.video-stats {
font-size: 14px;
color: rgb(50, 46, 53);
margin-bottom: 20px;
}

.video-author {
font-size: 14px;
color: rgb(50, 46, 53);
margin-bottom: 20px;
}

.video-description {
font-size: 14px;
color: rgb(50, 46, 53);
width: 280px;
line-height: 20px;
margin-bottom: 100px;
}

.apple-text {
margin-bottom: 50px;
font-size: 14px;
background-color: red;
color: wheat;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;
}

.span-shop {
color: rgb(248, 253, 240);
cursor: pointer;
font-size: 16px;
}

.span-shop:hover {
text-decoration: underline;
}
